
mat-form-field,
textarea{
  width: 100%;
}

mat-spinner{
  margin: auto;
}

input[type = "file"]{
  visibility: hidden;
}


.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.post-image {
  width: 50%;
}

.post-image img {
  width: 50%;
  height: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.mat-toolbar span {
  font-weight:500;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
